.btn.btn-primary.btn-xl.js-scroll-trigger {
    background-color: #00a7ff;
}

.responsive1 {
    width: 100%;
    height: auto;
}

.scale1 {
    width: 12.8em;
}

#row123 {
    text-align: center;
    background-color: gray;
    padding: 10px;
}