/***********************
        General
***********************/



html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #5f5b59;
}


/* Centered text */
.maintxt1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.maintxt2 {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.hrp {
  margin-left: 20em;
  margin-right: 20em;
}



/***********************
        Nav Bar
***********************/



/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1BEF7D;
  color: white;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #1BEF7D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}



/***********************
       Portfolio
***********************/

#portfolio {
  margin-top: 60%;
  padding-top: 0%;
  padding-bottom: 7%;
  text-align: center;
  max-width: 100%;
}

.port {
  text-decoration: none;
  color: #333;
}
.port:hover {
  text-decoration: none;
  color: black;
}

.button {
  background-color: #1BEF7D; /* Green */
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
.button:hover {
  background-color: rgb(29, 239, 57); /* Green */
  box-shadow: 0 16px 32px 0 rgb(0, 0, 0);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  font-size: 30px;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}



/***********************
          About
***********************/



/***********************
          Cards
***********************/



* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 50px;
  margin-top: 50vh;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  font-size: 25px;
  border-radius: 10px;
}



/***********************
     Portfolio Image
***********************/



.pimg {
  position: absolute;
  width: 100%;
  max-width: 300px;
  top: 21.5%;
  left: 30%;
  border-radius: 10px;
}