@media screen and (max-width: 850px) {
    .services{
        
    }
  }

.leyot{
    margin-left: 61px;
    padding-top: 20px
}
.ctr{

   align-content: center;
   margin-left: 28em;
   padding-top: 20px;
}

.cntct{
    align-content: center;
}