/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .photosColumn {
        flex: 50%;
        max-width: 50%;
    }

    .width66 {
        width: auto;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .photosColumn {
        flex: 100%;
        max-width: 100%;
    }

    .width66 {
        width: auto;
    }
}