/* Html */

html {
  height: 100%;
}


/* NavBar */

.header {
  padding: 60px;
  text-align: center;
  background-color: #3498db;
  color: black;
}

.navbar {
  display: flex;
  background-color: #5dade2;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #85c1e9;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}

.active {
  background-color: #85c1e9;
}

/* Body */


.break {
  padding: 150px;
}

.break1 {
  padding: 11px;
}

.textWrap {
  text-align: left;
}

/* Footer*/

.footers {
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: white;
}

/* Media */

.img {
  background-color: #85c1e9;
  width: auto;
  height: auto;
  position: relative;
  padding: 20px;
  border: 60px;
}

.img2 {
  background-color: #85c1e9;
  width: auto;
  height: auto;
  position: relative;
  padding: 10px;
  border: 20px;
}

/* icons */

.icon {
  display: flex;
  background-color: #333;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icon1 {
  background-color: #333;
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.icon2 {
  background-color: #333;
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.icon3 {
  background-color: #333;
  width: auto;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* Gallery */

.picture {

  flex: 30%;
  background-color: #85c1e9;
  padding: 20px;

}
