/*~~~~~
General
~~~~~*/

body, html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;

}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

#titleLogo {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
}

.subTitleTxt {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
    background-color: gray;
}

.headerContainer {
    background-color: #818181;
}

/*~~~~~~~~
Navigation
~~~~~~~~*/

main {
    position: sticky;
}

#navMenu {
    float: left;
    position: relative;
    top: 23px;
    left: 25px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*~~~~~~~~~~~~~~~~
Parallax Scrolling
~~~~~~~~~~~~~~~~*/

.parallax {
    /* The image used */
    background-image: url("../images/img10.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*~~~~~~~~~
Slideshow
~~~~~~~~~*/

.slideshowContainer {
    max-width: 100%;
    padding: 2em;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    z-index: 1;
    width: 85%;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    font-size: 32px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 1em;
    font-size: 1.7em;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

/*
Responsive Image Grid
 */
/* Create four equal columns that sits next to each other */
.column1 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;

}

.column1 img {

  vertical-align: middle;
  width: 100%;
}
