/*~~~~~~~~
Responsive
~~~~~~~~*/

/*
Navigation
*/
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*
Image Cards
*/
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .column1 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/*
Responsive Image Grid
*/

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column1 {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
