/*
Responsive
*/

@media only screen and (width: 375px) {
    /*---Style Title text---*/
    #hero-text h1 {
        font-size: 4.5em;
    }

    /*---Style SubHeading text---*/
    #hero-text p {
        font-size: 2.5em;
    }

    /*---Style button---*/
    #hero-text button {
        font-size: 1.5em;

    }

    .topnav a {
        margin: auto;
        font-size: 1.03em;
    }

    /*HR (White)*/
    hr {
        margin: 1em 7em;
    }

    /*HR(Black)*/
    .hr1 {
        margin: 2em 7em;
    }

    .column-66 {
        width: 100%;
        margin: auto;
        padding: 2em;
    }

    .column-66 h2 {
        text-align: justify;
        font-size: 1.5em;
        padding: 0;
        margin: auto;
    }

    .column-33 {
        float: left;
        width: 100%;
        padding: 1em;
    }

    .column1 {
        width: 100%;
    }
}

@media only screen and (width: 768px) {
    /*---Style Title text---*/
    #hero-text h1 {
        font-size: 5.5em;
    }

    /*---Style SubHeading text---*/
    #hero-text p {
        font-size: 3.5em;
    }

    /*---Style button---*/
    #hero-text button {
        font-size: 2.5em;
    }

    .topnav a {
        margin: auto;
        font-size: 2.214em;
    }

    /*HR (White)*/
    hr {
        margin: 1em 13em;
    }

    /*HR(Black)*/
    .hr1 {
        margin: 2em 13em;
    }

    .column-66 {
        width: 100%;
        margin: auto;
        padding: 2em;
    }

    .column-66 h2 {
        text-align: justify;
        font-size: 1.7em;
        margin: auto;
    }

    .column-33 {
        float: left;
        width: 100%;
        padding: 1em;
    }

    .column1 {
        width: 50%;
    }
}

@media only screen and (width: 1440px) {
    html, body {
        height: 100%;
        width: auto;
    }

    .column-66 {
        margin: 3.5em 1em 0;
        width: 63.86%;
        padding: 1.5em;
    }

    .column-66 h2 {
        text-align: justify;
        font-size: 1.7em;
        margin: auto;
    }

    .column-33 {
        float: left;
        width: 33.86%;
        padding: 1em;
    }

}